#brands {
  .orb {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
  }

  .orb img {
    width: 100%;
    height: 100%;
  }

  .orb:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  #brands .orb {
    width: 120px;
    // height: 80px;
  }
}
